button {
  all: unset;
  cursor: pointer;
}

.button-green {
  width: 2rem;
  height: 2rem;

  border-radius: 8px;
  border: 0;

  cursor: pointer;
  margin-left: 1rem;
  justify-content: center;
  background-color: rgb(6, 246, 42);
  color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;

}


